html, body {
	font-family: arial, sans-serif;
	height: 100%;
	min-width: 1020px;
}

#container {
	min-height: 100%; 
	margin-bottom: 0;
}

/*Header*/

.l_header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
    list-style-type: none;
    height: 59px; width: 100%;
    margin: 0;
    padding-left: 16px;
    overflow: hidden;
    background-color: #f1f1f1;
    border-bottom: 1px solid #e5e5e5;

    
}

.l_header li {
	float: left;
	height: 59px;
	line-height: 59px;
	vertical-align: middle;
}

#goo_icon {
	height: 32px;
	margin-right: 16px;
	vertical-align: middle;
}

#search_box {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	height: 38px; width: 588px;
	border: 1px solid #4285f4;
	padding: 0;
	margin: 0;

	background-color: white;
}

#search_text {
	position: absolute;
	display: block;
	height: 26px; width: 529px;
	margin: 0;
	padding: 6px 9px 0 9px;
	float: left;

	border-style: none;
	font: 16px arial, sans-serif;
}

textarea, input {
	outline: none;
	outline-color: transparent;
	outline-style: none;

}

#mic_button {
	position: relative;
	display: inline;
	margin: 0;
	padding: 10px;
	height: 20px;
	float: right;
	bottom: 0;
}

#search_button {
	height: 19px; 
	vertical-align: middle;
	background-color: #4285f4;
	color: white;
	padding: 10px;
	padding-bottom: 11px;

	transform: translateY(-1px);
	border-radius: 0 2px 2px 0;
}


.r_header {
	position: absolute;
	list-style-type: none;
	height: 59px;
	margin: 0;
	padding: 0;
	top: 0;
	right: 0;
	overflow: hidden;
	font-size: 13px;
}

.r_header li {
	position: relative;
	display: block;
	float: left;
	top: 50%;
	transform: translateY(-50%);

	color: black;
	text-align: center;
	padding: 0 8px;
	text-decoration: none;
	
	

}


.r_header li img {
	padding: 0;
	height: 20px;
	vertical-align: middle;
}

#launch_icon {
	height: 16px;
}

#photo {
	height: 32px;
	border-radius: 16px;
	padding: 0;
}

#icon_li {
	padding: 6px 16px;
	line-height: 0;
}

#photo_li {
	padding:0 24px 0 16px;
	line-height: 32px;
	vertical-align: middle; 
}

/*--Menu Bar--*/

.menu_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 110px;
}

.menu_bar li {
	position: relative;
	top: 52px;
	display: block;
	float: left;
	margin: 8px;
	padding: 8px;
	height: 40px;

	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	border-bottom: 3px solid red;

	font-size: small;
}

.r_menu_buttons li {
	position: relative;
	background-color: transparent;
	border: none;	
}

.r_menu_buttons li img{
	vertical-align: middle;
	background-color: #f3f3f3;
	border: 1px solid #dddddd;	
}

#priv_toggle img {
	height: 16px;
	padding: 7px 12px;
	margin: 0;
	border-radius: 0 2px 2px 0;
}

#priv_button {

}

#pub_button {
	padding-left: 10px;
	margin-left: -3px; 
}

#gear_button img{
	height: 20px; 
	padding: 5px 25px;
}

/*--Search Content--*/

#search_content {
	position: relative;
	display: block;
	top: 60px;
	padding-top: 59px;
	height: 100%;
	width: 1000px;
	margin-left: 117px;
}

#search_results {
	position: relative;
	display: block;
	left: 0;
	top: 0;
	width: 511px;
	height: 100%;
	margin-bottom: 80px;
	padding-top: 65px;
}

#search_num {
	position: absolute;
	display: block;
	color: gray;
	font-size: 13px;
	width: 494px; height: 30px;
	top: 0;
	padding: 10px 0 0 10px;
	float: left;
}

#search_results div {
	position: relative;
	display: block;
	margin-bottom: 15px;
	vertical-align: top;
}

.search_link {
	font-size: 20px;
	color: #1a0dab;
	text-decoration: none;
}

.search_address {
	font-size: 14px;
	color: #006621;
}

.search_text {
	font-size: 14px;
	color: #6a6a6a;
}

/*Extra Info Window(s)*/
#extras {
	position: relative;
	display: block;
	height: 100px;
	width: 40%;
	background-color: green;

	float: right;
	vertical-align: top;
	
}

#extras div {
	
}

/*--Footer--*/

#footer, #push {
	height: 40px;
	clear: both;
}

#footer {
	position: relative;
	height: 40px; width: 100%;
	bottom: 0;

	background-color: #f2f2f2;
	z-index: 1;
}

.f_links1 {
	position: relative;
	display: inline;
	float: left;
	margin: 0;
	padding-left: 27px;
	width: 360px;

	height: 24px; width: 64px;

	text-align: right;
	line-height: 40px;
	font-size: small;
	color: #666666;
}

.f_links2 {
	position: relative;
	float: right;
	width: 360px;
}

#f_links2 li {
	position: relative;
	display: inline;
	float: right;
	margin: 0;
	padding-right: 27px;
	height: 24px; width: 64px;

	text-align: right;
	line-height: 40px;
	font-size: small;
	color: #666666;
}